<h1 class="title">Welcome to CSE Motors!</h1>
<div class="hero-container">
  <div id="hero-box">
    <h2>DMC Delorean</h2>
    <p>3 Cup Holders</p>
    <p>Superman Doors</p>
    <p>Fuzzy Dice!</p>
    <button>Own Today</button>
  </div>
  <img id="hero-img" src="/images/vehicles/delorean.jpg" alt="delorean car" />
</div>
<div class="home-content-container">
  <section class="delorean-reviews">
    <h2>DMC Delorean Reviews</h2>
    <ul>
      <li>"So fast it's almost like traveling in time." (4/5)</li>
      <li>"Coolest ride on the road." (4/5)</li>
      <li>"I'm feeling McFly!" (5/5)</li>
      <li>"The most futuristic ride of our day." (4.5/5)</li>
      <li>"80's livin and I love it!" (5/5)</li>
    </ul>
  </section>
  <section class="delorean-info">
    <h2>Delorean Upgrades</h2>
    <div class="delorean-upgrades-container">
      <div class="delorean-card">
        <div class="upgrade-icon-container">
          <img
            id="flux-cap-img"
            class="upgrade-img"
            src="/images/upgrades/flux-cap.png"
            alt="Flux Capacitor"
          />
        </div>
        <a class="upgrade-link" href="#">Flux Capactior</a>
      </div>
      <div class="delorean-card">
        <div class="upgrade-icon-container">
          <img
            id="flame-dcls-img"
            class="upgrade-img"
            src="/images/upgrades/flame.jpg"
            alt="Flame Decals"
          />
        </div>
        <a class="upgrade-link" href="#">Flame Decals</a>
      </div>
      <div class="delorean-card">
        <div class="upgrade-icon-container">
          <img
            id="bump-stick-img"
            class="upgrade-img"
            src="/images/upgrades/bumper_sticker.jpg"
            alt="Bumper Sticker"
          />
        </div>
        <a class="upgrade-link" href="#">Bumper Sticker</a>
      </div>
      <div class="delorean-card">
        <div class="upgrade-icon-container">
          <img
            id="hub-caps-img"
            class="upgrade-img"
            src="/images/upgrades/hub-cap.jpg"
            alt="Hub Caps"
          />
        </div>
        <a class="upgrade-link" href="#">Hub Caps</a>
      </div>
    </div>
  </section>
</div>
