*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --primary-color: #102542;
  --secondary-color: #1e96fc;
  --accent-color-one: #c44536;
  --accent-color-two: #36c4b7;
  --text-on-light: #333333;
  --text-on-dark: #f5fbef;
  --primary-font: "Roboto", sans-serif;
  --heading-font: "Roboto Slab", serif;
}

#top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0 25px;
}

.siteName a,
#tools a {
  font-family: var(--primary-font);
  color: var(--primary-color);
  text-decoration: none;
}

.siteName a {
  font-weight: 700;
  font-size: 2rem;
}

#tools a {
  position: relative;
  font-size: 1.1rem;
  margin-left: 10px;
}

#tools a:hover {
  text-decoration: underline;
}

nav {
  background-color: var(--primary-color);
  width: 100%;
  padding: 15px;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0;
}

nav li {
  margin: auto;
  font-family: var(--primary-font);
  font-size: 1.1rem;
  color: var(--text-on-dark);
  cursor: pointer;
}

nav li:hover {
  text-decoration: underline;
}

.title,
.delorean-reviews h2,
.delorean-info h2 {
  font-family: var(--heading-font);
  font-size: 1.5rem;
  color: var(--text-on-light);
  text-align: left;
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#hero-box {
  position: relative;
  margin: 0;
  z-index: 2;
  color: var(--secondary-color);
  background-color: rgba(230, 234, 237, 0.8);
  padding: 3px;
}

#hero-box h3 {
  margin: 0 0 10px;
  padding: 0;
  font-family: var(--heading-font);
  font-size: 1.4rem;
}

#hero-box p,
#hero-box button {
  font-family: var(--primary-font);
  font-size: 1.2rem;
}

#hero-box p {
  margin-top: 10px;
  line-height: 0.25;
}

#hero-box button {
  background-color: var(--secondary-color);
  color: var(--text-on-dark);
  font-weight: 700;
  padding: 7px;
  border-radius: 5px;
  border-color: var(--text-on-light);
  cursor: pointer;
  margin-top: -5px;
}

#hero-img {
  width: 75%;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.home-content-container {
  padding-top: 30px;
}

.delorean-reviews ul {
  padding-left: 0;
  margin-left: 0;
  list-style-position: inside;
}

.delorean-reviews li,
footer {
  font-family: var(--primary-font);
  font-size: 1rem;
  color: var(--text-on-light);
}

.delorean-reviews li {
  padding: 10px;
}

.delorean-upgrades-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.delorean-card {
  width: 48%;
  margin-bottom: 10px;
  padding: 10px;
}

.upgrade-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  border: 1px solid var(--text-on-light);
  height: 100px;
  width: 100%;
  padding: 10px;
}

.upgrade-img {
  max-width: 100%;
}

.upgrade-link {
  display: block;
  text-align: center;
  font-family: var(--primary-font);
  font-size: 1rem;
  margin-top: 5px;
}

footer {
  text-align: left;
}


@media screen and (min-width: 768px) {
  body {
    background-image: url("/images/site/checkerboard.jpg");
    background-size: cover;
    background-position: center;
  }

  .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 7px solid var(--secondary-color);
  }

  .siteName a,
  #tools a,
  nav li {
    font-size: 1.3rem;
  }

  .siteName a {
    font-size: 2.5rem;
  }

  .title,
  #hero-box h3,
  .delorean-reviews h2,
  .delorean-info h2 {
    font-size: 2rem;
  }

  .title {
    font-size: 2.5rem;
  }

  #hero-box {
    padding: 20px;
    margin-left: 75px;
  }

  #hero-box p,
  #hero-box button {
    font-size: 1.8rem;
  }

  #hero-img {
    width: 65%;
    height: auto;
    position: absolute;
    top: 0;
    right: 140px;
    z-index: 1;
  }

  .home-content-container {
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
  }

  .delorean-info {
    order: 1;
  }

  .delorean-reviews {
    order: 2;
  }

  .delorean-reviews li {
    font-size: 1.4rem;
    padding: 15px;
  }

  .upgrade-link,
  footer {
    font-size: 1.15rem;
  }
}

