*,
*:before,
*:after {
  box-sizing: border-box;
}

/******* Global Styles *********/

/***** Variables *****/
:root {
  --primary-color: #102542;
  --secondary-color: #1e96fc;
  --accent-color-one: #c44536;
  --accent-color-two: #36c4b7;
  --text-on-light: #333333;
  --text-on-dark: #f5fbef;
  --primary-font: "Roboto", sans-serif;
  --heading-font: "Roboto Slab", serif;
}

/***** Typography *****/
.title,
#hero-box h2,
.delorean-reviews h2,
.delorean-info h2 {
  font-family: var(--heading-font);
  font-weight: 700;
}

.siteName a,
#tools a,
nav ul,
#hero-box p,
#hero-box button,
.delorean-reviews ul,
.upgrade-link,
.copyright {
  font-family: var(--primary-font);
}

.title,
.delorean-reviews h2,
.delorean-info,
.delorean-reviews ul,
.copyright {
  color: var(--text-on-light);
}

#hero-box h2,
#hero-box p {
  color: var(--secondary-color);
}

.siteName a,
#tools a,
#hero-box button {
  color: var(--primary-color);
  font-weight: 700;
  text-decoration: none;
}

/*** Flash Messages ***/
.notice {
  color: red;
  font-family: var(--primary-font);
  font-size: 1.1em;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
  text-align: center;
}

/*** Header ***/
#top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}

.siteName a {
  font-size: 2em;
}

#tools {
  position: relative;
  font-size: 1.1em;
  right: 0;
}

#tools a:hover {
  text-decoration: underline;
}

.separator {
  color: var(--primary-color);
}

/*** Navigation ***/
nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--primary-color);
  min-height: 3.5em;
  margin-top: 1em;
}

nav li a {
  text-decoration: none;
  color: var(--text-on-dark);
}

nav li a:hover {
  text-decoration: underline;
}

footer {
  padding: 10px;
  text-align: left;
}

.copyright {
  font-size: 1.1em;
}

/*** Errors ***/
.errors-title {
  font-family: var(--heading-font);
  color: var(--text-on-light)
}

.error-msg {
  font-family: var(--primary-font);
  color: var(--text-on-light);
  font-size: 1.25em;
}

/*** Home Hero Section ***/
.title {
  font-size: 1.5em;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#hero-box {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  background-color: rgba(244, 246, 247, 0.8);
  z-index: 2;
  text-align: left;
  margin: 0;
  padding: 0;
  font-weight: 700;
}

#hero-box h2 {
  font-size: 1.2em;
  margin: 0;
  padding: 3px;
}

#hero-box p,
#hero-box button {
  font-size: 1.1em;
  margin: 0;
  padding: 3px;
}

#hero-box button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-color: var(--primary-color);
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

#hero-img {
  max-width: 75%;
  z-index: 1;
}

/*** Home Reviews Section ***/
.delorean-reviews ul {
  padding-left: 0;
  margin: 0;
  list-style-position: inside;
}

.delorean-reviews li {
  padding-bottom: 1em;
}

/*** Home Upgrades Section ***/
.delorean-upgrades-container {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
  justify-content: space-between;
}

.delorean-card {
  min-width: 48%;
  text-align: center;
  margin-bottom: 1em;
}

.upgrade-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  width: 100%;
  min-height: 100px;
}

.upgrade-link {
  font-size: 1.1em;
}

/*** Inventory Section ***/
.inv-title {
  text-align: center;
  font-family: var(--heading-font);
  color: var(--text-on-light);
}

#inv-display {
  list-style: none;
  margin: 0;
  padding: 0;
}

#inv-display li {
  text-align: center;
  margin-bottom: 1.5em;
  border: 3px solid var(--primary-color);
  width: 100%;
}

#inv-display li img {
  max-width: 100%;
  padding-top: .85em;
}

#inv-display li h2 a {
  text-decoration: none;
  font-family: var(--heading-font);
  color: var(--text-on-light);
}

#inv-display li h2 a:hover {
  text-decoration: underline;
}

#inv-display .namePrice {
  font-family: var(--primary-font);
  color: var(--text-on-light);
  font-weight: 700;
  font-size: 1.25em;
  padding-bottom: .85em;
}

/*** Inventory Details Section ***/
.details-title {
  font-family: var(--heading-font);
  color: var(--text-on-light);
}

.detail-container img {
  max-width: 100%
}

.detail-container h2 {
  font-family: var(--heading-font);
  font-size: 1.6em;
  color: var(--text-on-light)
}

.detail-container .invInfo {
  font-family: var(--primary-font);
  font-size: 1.5em;
  color: var(--text-on-light);
}

.vehicle-details {
  margin: .75em;
}

.bold {
  font-weight: bold;
}

/*** Login and register forms ***/
.login-title {
  font-family: var(--heading-font);
  color: var(--text-on-light);
  text-align: center;
}

.register-title {
  font-family: var(--heading-font);
  color: var(--text-on-light);
  text-align: center;
}

form {
  font-family: var(--primary-font);
  max-width: 400px;
  padding: 20px;
  background-color: var(--primary-color);
  border: 5px solid var(--secondary-color);
  border-radius: 10px;
  margin: 0 auto;
}

form label,
#register p,
#register a,
button {
  color: var(--text-on-dark);
  font-size: 1.3em;
}

.form-group span {
  color: var(--text-on-dark);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

button {
  display: block;
  width: 50%;
  padding: 7px;
  border: none;
  background-color: var(--text-on-dark);
  color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
}

#register {
  text-align: center;
}

.login-welcome {
  font-family: var(--heading-font);
  color: var(--text-on-light);
  text-align: center;
}

.login-link {
  font-family: var(--primary-font);
  color: var(--text-on-light);
  text-align: center;
}

/*** inventory management ***/
.management-title {
  font-family: var(--heading-font);
  color: var(--text-on-light);
  text-align: center;
}

.inv-management {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: none;
  padding: 0;
  margin: 1em;
}

.inv-management button {
  background-color: var(--primary-color);
  border: .5em solid var(--secondary-color);
  color: var(--text-on-dark);
  font-family: var(--primary-font);
  font-size: 1.5em;
  width: 100%;
  padding: .75em;
  margin: 0 auto;
}

#class-btn {
  width: 80%;
}

#classificationList {
  font-family: var(--primary-font);
  font-size: 1em;
  padding: .6em;
}

#inv-btn {
  width: 75%;
}

#inv-man-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  margin: 0 auto;
  border: 1px solid #ccc;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}

#inv-man-container h2 {
  font-family: var(--heading-font);
  color: var(--text-on-light);
  font-size: 1.5em;
}

#inv-man-container p {
  font-family: var(--primary-font);
  color: var(--text-on-light);
  font-size: 1.3em;
}

#classificationList {
  font-family: var(--primary-font);
  color: var(--text-on-light);
  font-size: 1.3em;
}

#inventoryDisplay {
  font-family: var(--primary-font);
  color: var(--text-on-light);
  font-size: 1.25em;
  line-height: 2em;
}

#confirm-delete {
  color: var(--text-on-dark);
  text-align: center;
}

/*** update account form ***/
#accountUpdate {
  margin-bottom: 35px;
}

#accountUpdate button,
#changePassword button {
  width: 75%;
}

.password-info {
  display: block;
  margin-bottom: 10px;
}

/***** Media Queries *****/
@media screen and (min-width: 768px) {
  /*** Background setup ***/
  body {
    background-image: url("/images/site/checkerboard.jpg");
    background-position: center;
  }

  .container {
    max-width: 75%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 7px solid var(--secondary-color);
  }

  .siteName a {
    font-size: 3em;
  }

  #tools {
    font-size: 1.5em;
  }

  .copyright {
    font-size: 1.2em;
  }

  /*** Navigation ***/
  nav li a {
    font-size: 1.5em;
  }

  /*** Home Hero Section ***/
  .title {
    font-size: 2.5em;
  }

  #hero-box h2 {
    font-size: 2.2em;
  }

  #hero-box p,
  #hero-box button {
    font-size: 2em;
  }

  #hero-box button {
    margin-top: 0.75em;
    padding: 10px;
  }

  #hero-img {
    max-width: 100%;
  }

  /*** Home Content Setup ***/
  .home-content-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2.5em;
  }

  .delorean-info {
    order: 1;
  }

  .delorean-reviews {
    order: 2;
  }

  .delorean-info h2,
  .delorean-reviews h2 {
    font-size: 2em;
  }

  /*** Home Upgrades Section ***/
  .delorean-upgrades-container {
    justify-content: space-evenly;
  }

  .upgrade-icon-container {
    max-width: 90%;
  }

  .upgrade-link {
    font-size: 1.15em;
  }

  /*** Home Reviews Section ***/
  .delorean-reviews li {
    font-size: 1.25em;
    padding-left: 1.5em;
    text-indent: -1.5em;
    padding-bottom: 1.25em;
  }

  /*** Inventory Section ***/
  .inv-title {
    font-size: 2.5em;
    text-align: left;
  }

  #inv-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5em;
  }

  #inv-display li {
    width: auto;
    margin: 0;
  }

  /*** Inventory Details Section ***/
  .detail-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 1fr;
  }

  .vehicle-details {
    margin-left: 2.5em;
  }

  /*** inventory management ***/
  .inv-management {
    margin: 0 auto;
    padding-bottom: 2em;
  }

  #inv-man-container {
    padding: 25px;
  }

  #inv-man-container h2 {
    font-size: 1.75em;
  }
}