/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/******* Variables ***************/
:root {

  /* Colors */
  --primary-color: #102542;
  --secondary-color: #1E96FC;
  --accent-color-one: #C44536;
  --accent-color-two: #36C4B7;
  --text-on-light: #333333;
  --text-on-dark: #F5FBEF;

  /* Fonts */
  --primary-font: 'Roboto', sans-serif;
  --heading-font: 'Roboto Slab', serif;
}

/******* Header ***************/
#top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  padding-bottom: 25px;
}

.siteName a {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 2rem;
  color: var(--primary-color);
  text-decoration: none;
}

#tools a {
  position: absolute;
  right: 10px;
  top: 10px;
  font-family: var(--primary-font);
  font-size: 1rem;
  color: var(--primary-color);
  text-decoration: none;
}

/******* Navigation ***************/
nav {
  background-color: var(--primary-color);
  width: 100%;
  padding: 15px;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0;
}

nav li {
  margin: auto;
  font-family: var(--primary-font);
  font-size: 1.1rem;
  color: var(--text-on-dark);
  cursor: pointer;
}

nav li:hover {
  text-decoration: underline;
}

/******* Home Page ***************/
.title {
  font-family: var(--heading-font);
  font-size: 1.5rem;
  color: var(--text-on-light);
  text-align: left;
}

/*** Hero Section ***/
.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#hero-box {
  position: relative;
  margin: 0;
  z-index: 2;
  color: var(--secondary-color);
  background-color: rgba(230, 234, 237, 0.8);
  padding: 3px;
}

#hero-box h3 {
  margin: 0;
  padding: 0;
  font-family: var(--heading-font);
  font-size: 1.4rem;
  margin-bottom: 0;
}

#hero-box p {
  margin-top: 10px;
  line-height: .25;
}

#hero-box p, #hero-box button {
  font-family: var(--primary-font);
  font-size: 1.2rem;
}

#hero-box button {
  background-color: var(--secondary-color);
  color: var(--text-on-dark);
  font-weight: 700;
  padding: 7px;
  border-radius: 5px;
  border-color: var(--text-on-light);
  cursor: pointer;
  margin-top: -5px;
}

#hero-img {
  width: 75%;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

/*** Reviews Section ***/
.delorean-reviews h2 {
  font-family: var(--heading-font);
  font-size: 1.5rem;
  color: var(--text-on-light);
  text-align: left;
  margin-bottom: 10px;
}

.delorean-reviews ul {
  padding-left: 0;
  margin-left: 0;
  list-style-position: inside;
}

.delorean-reviews li {
  font-family: var(--primary-font);
  font-size: 1rem;
  color: var(--text-on-light);
  padding: 4px;
}

/*** Upgrades Section ***/
.delorean-info h2 {
  font-family: var(--heading-font);
  font-size: 1.5rem;
  color: var(--text-on-light);
  text-align: left;
  margin-bottom: 10px;
}

.delorean-upgrades-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.delorean-card {
  width: 48%;
  margin-bottom: 10px;
  padding: 10px;
}

.upgrade-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  border: 1px solid var(--text-on-light);
  box-sizing: border-box;
  height: 100px;
  width: 100%;
  padding: 10px;
}

.upgrade-img {
  max-width: 100%;
}

.upgrade-link {
  display: block;
  text-align: center;
  font-family: var(--primary-font);
  font-size: 1rem;
  margin-top: 5px;
}

/******* Footer ***************/
footer {
  color: var(--text-on-light);
  font: var(--primary-font);
  font-size: 1rem;
  text-align: left;
}